<%- include ('partials/header') %>
<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">InstaSearch</h1>
		</div>
	</div>
	<form class="row mt-2" action="/results" method="POST">
		<div class="col-md-1"></div>
		<div class="col-md-9">
			<input type="text" id="searchBar" name="searchBar" class="form-control" placeholder="Search" value="<%=input%>"">
		</div>
		<div class="col-md-2">
			<button class="btn btn-outline-light" type="submit">
				<i class="bi bi-search"></i>
				Search	
			</button>
		</div>
	</form>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
			<% 	var temp = output.split('\n')
                for(var i=0; i< temp.length-1; i++) { %>
			<div class="card">
				<div class="card-body">
				  <h3 class="card-title"><a target="_blank" rel="noopener noreferrer" href="<%= temp[i].split(',')[1]%>"><%= temp[i].split(',')[0]%></a></h3>
				  <h7 class="card-subtitle mb-2 text-muted"><%= temp[i].split(',')[1]%></h7>
				</div>
			</div>
			<%}%>
			<ul>
			
                    <!--<li><a target="_blank" rel="noopener noreferrer" href="<%= temp[i]%>"><%= temp[i]%></a></li>-->
                
			</ul>
		</div>
	
    </div>
    
</div>
<%- include ('partials/footer') %>